/* 共通クラス */
.forPc {
  display: block;
}

/* hero */
#hero {
  width: 100%;
  height: auto;
  position: relative;
}

#hero img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

#hero .sub-overlay {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

#hero .sub-overlay h3 {
  font-size: 45px;
}

#hero .sub-overlay p {
  font-size: 20px;
}

/* about */
#about-section {
  background: #fffff4;
}

#about-section .container {
  max-width: 1100px;
  margin: 0 auto;
}

#about-section h3 {
  font-size: 1.5rem;
  padding-top: 50px;
}

#about-section .long-img img {
  width: 100%;
}

#about-section h3 {
  text-align: center;
  color: #661919;
}

#about-section .gaikan {
  padding: 50px 0;
}

#about-section .gaikan img {
  display: block;
  text-align: center;
  margin: 0 auto;
  height: 400px;
  object-fit: cover;
  width: 100%;
  border-radius: 7px;
}

#about-section .about-text {
  padding-bottom: 75px;
  width: 85%;
  margin: 0 auto;
}

#about-section .about-text p {
  color: #661919;
}

/* 方針 */
#houshin {
  width: 100%;
  height: auto;
  background: #fffff4;
  padding: 60px 0;
}

#houshin h3 {
  font-size: 40px;
  color: #661919;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

#houshin .container {
  max-width: 1100px;
  margin: 0 auto;
}

#houshin .houshin-box {
  background: #faede2;
  padding: 30px 100px;
  border-radius: 8px;
}

#houshin .houshin-box li {
  list-style: disc;
  font-size: 22px;
  color: #661919;
  margin-bottom: 20px;
  font-weight: bold;
}

/* 目標 */
#mokuhyo {
  width: 100%;
  height: auto;
  background: #fffff4;
  padding-bottom: 60px;
}

#mokuhyo h3 {
  font-size: 40px;
  color: #661919;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

#mokuhyo .container {
  max-width: 1100px;
  margin: 0 auto;
}

#mokuhyo .mokuhyo-box {
  background: #faede2;
  padding: 30px 100px;
  border-radius: 8px;
}

#mokuhyo .mokuhyo-box li {
  list-style: disc;
  font-size: 22px;
  color: #661919;
  margin-bottom: 20px;
  font-weight: bold;
}

#mokuhyo p {
  color: #661919;
  text-align: center;
  padding-bottom: 30px;
  font-size: 1.15rem;
  font-weight: bold;
}

/* 園の概要 */
#detail {
  width: 100%;
  height: auto;
  background: #fffff4;
  padding-bottom: 60px;
}

#detail h3 {
  font-size: 40px;
  color: #661919;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

#detail .container {
  max-width: 1100px;
  margin: 0 auto;
}

#detail table {
  width: 100%;
  border-collapse: collapse;
}

#detail table th {
  padding: 10px 25px;
  font-size: 18px;
  background-color: #fff;
  color: #661919;
}

#detail table td {
  padding: 10px 25px;
  font-size: 18px;
  background-color: #fff;
}

/* images section */
#images {
  width: 100%;
  height: auto;
  background: #fffff4;
}

#images .container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "big small-a"
    "big small-b";
}

#images .container img {
  width: 100%;
}

#images .container img:first-of-type {
  grid-area: big;
}

#images .container img:nth-of-type(2) {
  grid-area: small-a;
}

#images .container img:last-of-type {
  grid-area: small-b;
}

@media screen and (max-width: 1000px) {
  #hero img {
    height: 45vw;
  }

  #about-section .container,
  #houshin .container,
  #mokuhyo .container,
  #detail .container,
  #images .container {
    max-width: 94%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .forPc {
    display: none;
  }

  #hero {
    height: 50vw;
    position: relative;
  }

  #hero img {
    height: 100%;
  }

  #hero .sub-overlay h3 {
    font-size: 6.5vw;
  }

  #hero .sub-overlay p {
    font-size: 4vw;
  }

  #about-section .about-text p {
    font-size: 3.25vw;
  }

  #houshin h3,
  #mokuhyo h3,
  #detail h3 {
    font-size: 7.2vw;
    padding-bottom: 4%;
  }

  #about-section h3 {
    font-size: 4vw;
    padding-top: 5%;
  }

  #about-section .gaikan {
    padding: 5% 0;
  }

  #about-section .gaikan img {
    height: 47vw;
  }

  #about-section .about-text {
    width: 100%;
    font-size: 1rem;
    padding-bottom: 10%;
  }

  #about-section .long-img img {
    width: 100%;
    height: 24vw;
    object-fit: cover;
  }

  /* housin */
  #houshin {
    padding: 7% 0;
  }

  #houshin .houshin-box,
  #mokuhyo .mokuhyo-box {
    padding: 3% 8%;
  }

  #houshin .houshin-box li {
    font-size: 4vw;
    margin-bottom: 6%;
  }

  /* 目標セクション */
  #mokuhyo .mokuhyo-box li {
    font-size: 4vw;
    margin-bottom: 4%;
  }

  #mokuhyo .mokuhyo-box li:last-of-type {
    margin-bottom: 0;
  }

  #mokuhyo p {
    font-size: 4vw;
    text-align: left;
  }

  /* 園の概要 */
  #detail {
    padding-bottom: 6%;
  }

  #detail table {
    border-color: #f3f3f3;
  }

  #detail table th {
    display: block;
    font-size: 4vw;
  }

  #detail table td {
    display: block;
    font-size: 4vw;
  }

  #images {
    padding-bottom: 6%;
  }
}
